@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.45s ease;
}

body {
    background-color: #0499be;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #001228;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 10px 0;
}

.logo h1 {
    color: white;
}

.logo h1 span {
    color: #0499be;
}

.logo img {
    width: 120px;
}

header div {
    margin: 0 30px;
    display: flex;
    gap: 30px;
}

header div a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

main {
    flex-grow: 1;
}

main nav {
    background-color: #001228;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main nav a {
    width: 120px;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

main nav a:hover {
    background-color: #0499be;
}

.pagina-atual {
    background-color: #0499be;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5% 0;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

section .titulo {
    text-transform: capitalize;
    text-align: center;
    /* Centraliza o texto */
    font-size: 25px;
    /* Define o tamanho da fonte */
}

section img {
    /* Garante que as imagens não ultrapassem o contêiner */
    width: 400px;
    height: 234px;
    border-radius: 9px;
    margin: 0 9px;
    box-shadow: 0 1px 8px black;
    /* Mantém a proporção original da imagem */
}

section img:hover {
    transform: scale(1.04);
}

footer {
    margin-top: 30px;
    background-color: #001228;
    color: white;
    width: 100%;
    height: 50px;
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}